* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 226, 226);
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    
}
.nav_bar {
    min-height: 15vh;
    width: 100vw;
    text-align: center;
    /* background-color: #008080; */
    background: linear-gradient(to right, #007070, #00A0A0);

    overflow: hidden;
}

.buy_sell_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.buy_btn {
    background: linear-gradient(to bottom, #FFFFFF, #008080);
    color: #008080;
    border: 2px solid #008080;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.buy_btn:hover {
    /* background: linear-gradient(to bottom, #CCE7E7, #008080);
    color: #FFFFFF; */
    background: #006060;
    transform: scale(1.05);
    color: white;
}

.sell_btn {
    background: linear-gradient(to bottom, #FFA500, #FF8C00);
    color: #FFFFFF;
    border: 2px solid #FF8C00;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.buy_btn,.sell_btn{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.buy_btn,.sell_btn:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.sell_btn:hover {
    background: linear-gradient(to bottom, #FFD580, #FF8C00);
    color: #000000;
}

.logo_img {

    height: 100px;
    min-width: 100px;

    border: 3px solid white;
    background-image: url(logo.png);
    background-size: cover;
    border-radius: 75px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: wrap;
    padding-top: 10px;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.loca {
    font-size: 3em;
    text-wrap: wrap;
    font-family: sans-serif;
}

.x {
    font-size: 5em;
    text-wrap: wrap;
    font-family: sans-serif;
}
.loca {
    text-shadow: 2px 2px 2px black;
}


/* Home section start */

.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid green; */
    padding: 10px 0;
}
.home .home_container{
    display: contents;
    list-style-type: none;
}
.home .home_container li{
    /* border: 2px solid red; */
    color: white;
    height: 30px;
    margin: 5px 10px;
}
.home .home_container li a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    
}
.home .home_container li a:hover{
    color: #00BFFF;
}
.home .home_container li a i,.home .home_container li a span{
    font-size: 25px;
}
.search input{
    border: none;
    font-size: 18px;
    padding: 3px 8px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 40px;   
    height: 32px; 
    width: 30vw;

}
.search{
    /* border: 2px solid red; */
    display: flex;
    position: relative;

}
.search i{
    position: absolute;
    color: black;
    left: 10px;
    top: 25%;
    z-index: 5;
    cursor: pointer;
}
.search button{
    border: none;
    font-size: 18px;
    padding: 3px 8px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: 600;
    background:linear-gradient(rgb(233, 231, 231), rgb(148, 145, 145));
    transition: all 0.3s ease-in;
}
.search button:hover{
    color: white;
    text-shadow: 0px 0px 10px #FF8C00;
    background:linear-gradient(rgb(148, 145, 145),rgb(233, 231, 231));

}

/* second nav start */

.second_inner_nav{
    display: flex;
    justify-content: center;
    border: 2px solid red;
    height: 10vh; 
    background-color: #FFFFFF;
    border: 1px solid #ddd; 
}
.second_ul {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
    /* border: 2px solid green; */
    overflow: hidden;  
    padding: 8px 12px;
    
}

.second_ul .second_ul_items{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
    padding: 10px 15px;
    color: black;
    text-wrap: nowrap;   
    font-size: 24px;
    background-color:#FFFFFF;
    /* border: 2px solid red; */
}
.second_ul_items a{
    text-decoration: none;
}
.second_ul li{
    transition: all 0.4s ease-in;
}
.second_ul li:hover{
    background-color: #00BFFF;
    border-radius: 50px;
    cursor: pointer;
}
.second_ul li:hover a{
    color: white;
    text-shadow: 4px 4px 15px black;
    
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #FFA500;
    width: 5px;
    border-radius: 50px;

}
::-webkit-scrollbar-thumb:hover{
    background-color:#FF8C00;
}




/* main section */

.best-deals{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #008080, #00A0A0);
    padding: 20px;
    color: white;
}
.best-deals .deals-text button{
    padding: 8px 16px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 10px;
    transition: all 0.2s ease-in;
}
.best-deals .deals-text button:hover{
    transform: scale(1.05);
    font-weight: 600;
}
.deal-image img{
    width: 100%;
    max-width: 500px;
}
.deals-text{
    width: 50%;
    font-size: 30px;
}
.category-section{
    border: 2px solid green;
    width: 95vw;
    margin: 20px auto;
}
.category-section h2{
    font-size: 35px;
    margin: 10px ;
}
.catagory-product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}
.catagory-item{
    width: 250px;
    height: 300px;
    border: 2px solid red;
    overflow: hidden;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom,rgb(207, 205, 205), lightgray);
}

.category-section .catagory-product .catagory-item img{
    width: 300%;
} 
.category-section .catagory-product .catagory-item p{
    position: absolute;
    z-index: 5;
    bottom: 15px;
    left: 5px;
    font-size: 20px;
    
}

