*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;

}
.nav_container{
    border: 2px solid red;
    width: 100vw;
    height: 20vw;
    background-color: #008080 ;

}
.logo{
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
   
    
    
}
.search{
    margin-top: 70px;
    height: 30px;
    min-width: 50vw;
    padding: 10px;
}
.btn{
    display: flex   ;
}
.search_btn{
    margin-top: 70px;
    height: 30px;
    width: 70px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 20px;
    
}
.name .loca{
    font-size: 38px;
}
.name .X{
    font-size: 4em;
    
}
.img{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: start;
    background-image: url(logo.png);
    background-size: cover;
    border: none;
    border-radius: 75px;
    margin: 20px 20px 0px;
    border: inset 2px solid green;
    flex-wrap: nowrap;
}

